.Container{
  display: flex;
  justify-content: space-between;
}
.Search-bar{
  display: flex;
}
.Search-bar input{
  height: 23px;
  width: 149px;
  margin: auto;
}
.Dep-Header{
  color:blue;
  font-size:xx-large
}